<?xml version="1.0" encoding="utf-8"?>
<config>
    <modules>
        <Bubble_Highlighter>
            <version>1.0.0</version>
        </Bubble_Highlighter>
    </modules>
    <global>
        <blocks>
            <bubble_highlighter>
                <class>Bubble_Highlighter_Block</class>
            </bubble_highlighter>
        </blocks>
        <helpers>
            <bubble_highlighter>
                <class>Bubble_Highlighter_Helper</class>
            </bubble_highlighter>
        </helpers>
        <models>
            <bubble_highlighter>
                <class>Bubble_Highlighter_Model</class>
            </bubble_highlighter>
        </models>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <bubble_highlighter>
                    <file>bubble/highlighter.xml</file>
                </bubble_highlighter>
            </updates>
        </layout>
        <events>
            <controller_action_layout_render_before>
                <observers>
                    <bubble_highlighter>
                        <class>bubble_highlighter/observer</class>
                        <method>includeCodeMirrorTheme</method>
                    </bubble_highlighter>
                </observers>
            </controller_action_layout_render_before>
        </events>
        <translate>
            <modules>
                <Bubble_Highlighter>
                    <files>
                        <default>Bubble_Highlighter.csv</default>
                    </files>
                </Bubble_Highlighter>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <bubble_highlighter>
            <codemirror>
                <enable>1</enable>
                <theme>default</theme>
                <indent_unit>4</indent_unit>
                <line_numbers>1</line_numbers>
                <line_wrapping>1</line_wrapping>
                <auto_close_tags>1</auto_close_tags>
            </codemirror>
        </bubble_highlighter>
    </default>
</config>